%btn {
  border-radius: 5px;
  width: 3rem;
  height: 2.25rem;
  position: absolute;
}
.imageListItem {
  position: relative;
  .imageTools {
    transition: all 0.15s ease-in-out;
    opacity: 0;
    .dropdown {
      max-height: 400px;
      overflow: auto;
      border: 10px solid #fff;
      h3 {
        text-align: center;
        padding: 15px 0;
      }
      .newCollectionButton {
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
        color: gray;
        border: 1px dashed #a5a5a5;
        border-radius: 5px;
        font-size: 1rem;
      }
      .menuItem {
        padding: 0;
        margin-top: 5px;
        button {
          width: 100%;
          cursor: pointer;
          &:hover {
            filter: brightness(0.95);
          }
        }
      }
      fieldset {
        border: 1px solid #a5a5a5;
        border-radius: 5px;
        padding: 0 15px 20px 15px;
        .textarea {
          position: relative;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          textarea {
            resize: none;
            margin-top: 7px;
            border-radius: 3px;
            padding: 15px;
            &:focus {
              outline: none;
              border: 1px solid #111;
            }
          }
          .descrValue {
            position: absolute;
            bottom: 10px;
            right: 20px;
            font-size: 0.8rem;
            color: gray;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 25px;
          button {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          .cancel {
            color: gray;
            background: none;
            &:hover {
              text-decoration: underline;
            }
          }
          .create {
            color: #f1f1f1;
            background-color: #111;
          }
        }
      }
    }
    .buttonHeart {
      @extend %btn;
      max-height: 100%;
      background-color: #d9d8d8;
      &:hover {
        background-color: #f2f2f2;
      }
      svg {
        fill: grey;
      }
      right: 10px;
      top: 10px;
    }
    .buttonHeartActive {
      @extend %btn;
      background-color: rgb(231, 76, 76);
      &:hover {
        background-color: rgb(200, 65, 65);
      }
      svg {
        fill: #d9d8d8;
      }
      right: 10px;
      top: 10px;
    }
    .downloadButton {
      @extend %btn;
      right: 10px;
      bottom: 20px;
      background-color: #d9d8d8;
      &:hover {
        background-color: #f2f2f2;
      }
    }
    .collectionButton {
      @extend %btn;
      right: 70px;
      top: 10px;
      background-color: #d9d8d8;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
  .image {
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    .image {
      filter: brightness(0.8);
      cursor: zoom-in;
    }
    .imageTools {
      opacity: 1;
    }
  }
  &:hover button {
    opacity: 1;
  }
}
