@use "../components/CollectionForm.module.scss";

%btn {
  border-radius: 5px;
  width: 3rem;
  height: 2.25rem;
  position: absolute;
}
.imageListItem {
  position: relative;
  .imageTools {
    transition: all 0.15s ease-in-out;
    opacity: 0;
    .dropdown {
      max-height: 400px;
      overflow: auto;
      border: 10px solid #fff;
      h3 {
        text-align: center;
        padding: 15px 0;
      }
    }
    .buttonHeart {
      @extend %btn;
      max-height: 100%;
      background-color: #d9d8d8;
      &:hover {
        background-color: #f2f2f2;
      }
      svg {
        fill: grey;
      }
      right: 10px;
      top: 10px;
    }
    .buttonHeartActive {
      @extend %btn;
      background-color: rgb(231, 76, 76);
      &:hover {
        background-color: rgb(200, 65, 65);
      }
      svg {
        fill: #d9d8d8;
      }
      right: 10px;
      top: 10px;
    }
    .downloadButton {
      @extend %btn;
      right: 10px;
      bottom: 20px;
      background-color: #d9d8d8;
      &:hover {
        background-color: #f2f2f2;
      }
    }
    .collectionButton {
      @extend %btn;
      right: 65px;
      top: 10px;
      background-color: #d9d8d8;

      &:hover {
        background-color: #f2f2f2;
      }
    }
    
    .collectionButtonActive {
      @extend .collectionButton;
      background-color: #3cb46e;
      transition: 0.15s ease-in-out;

      &:hover {
        background-color: #35a263;
      }
      & svg {
        fill: white;
      }
    }
  }
  .image {
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    .image {
      filter: brightness(0.8);
      cursor: zoom-in;
    }
    .imageTools {
      opacity: 1;
    }
  }
  &:hover button {
    opacity: 1;
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 768px) {
    &:nth-child(2) {
      margin-top: 20px;
    }
  }
  label {
    margin-bottom: 7px;
    span {
      color: gray;
    }
  }
  input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
    &:focus {
      outline: none;
      border: 1px solid rgb(36, 36, 36);
    }
  }
  &:first-child {
    margin-right: 20px;
  }
}
