@mixin mantine-input($border-radius: 20px) {
  & .mantine-TextInput-input {
    border-radius: $border-radius;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid grey;
      background-color: white;
    }
  }
}

.search {
  &-navbar {
    margin-right: 5px;
    flex-grow: 1;
    @include mantine-input;
  }

  &-page-preview {
    width: 80%;
    @include mantine-input(0px);
  }
}
