button {
  cursor: pointer;
  display: block;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  background-color: #111;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  button {
    font-size: 13px;
  }

  .center {
    margin: 0 auto;
  }
}