.topWrapper {
  height: 280px;
  position: relative;
}

.collectionInfo {
  padding: 20px 30px;

  .colName {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .colDescription {
    font-size: 0.9rem;
    margin: 10px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 40px;
    .colName {
      font-size: 2.2rem;
      margin-bottom: 30px;
    }

    .colDescription {
      font-size: 1.1rem;
    }
  }
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
  }

  .profileData {
    margin: 20px 0px;

    & > a {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      color: black;
    }
  }
  .profileButtons {
    display: flex;
    gap: 10px;

    %buttons {
      max-height: 40px;
      padding: 6px 12px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid grey;
      transition: border 0.1s ease-in-out, color 0.1s ease-in-out;
      color: grey;
      background-color: white;

      &:hover {
        color: black;
        border: 1px solid black;
      }
    }

    & button {
      @extend %buttons;
    }
  }
}
.imagesCounter {
  margin-left: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
}

.imageOverlay {
  position: absolute;
  top: 0;
  height: 280px;
  width: 100%;
  z-index: -1;
  & > img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}

.whiteLayer {
  position: absolute;
  top: 0;
  height: 280px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.826), rgb(255, 255, 255));
}


// EditModal block
.editModalWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.382);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .editModal {
    background-color: white;
    width: 60%;
    height: 80%;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;

    @media screen and (max-width: 763px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .closeButton {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      border: none;
      background: none;
    }
  }
}
