%flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 20px 100px;
  }
}

.direct {
  background: linear-gradient(180deg, #ffffff, #f5f5f5);
  padding: 70px 10px;

  img {
    margin: 100px 0 50px 0;
  }

  .directInfo {
    margin: 0px auto;
    text-align: center;
    max-width: 630px;
  }

  .directListItems {
    @extend %flex-wrap;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    .directItem {
      width: 300px;
      max-height: 100%;

      > img {
        height: 110px;
        margin: 0 auto;
      }

      .directItemInfo {
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        height: 50%;
      }

      @media screen and (max-width: 1024px) {
        width: 265px;
      }
    }
  }
}

.native {
  img {
    margin: 100px 0;
    width: 100%;
  }

  > p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  .nativeInfo {
    margin: 60px auto;
    text-align: center;
    max-width: 630px;
  }

  .studio {
    @extend %flex-between;
    align-items: center;
    background-color: #f5f5f5;
    margin: 100px auto;
    padding: 0px 50px;
    max-width: 100%;
    border-radius: 5px;
    text-align: left;

    .studioImg {
      width: 500px;
      margin: 40px;
    }

    .studioInfo {
      max-width: 500px;
    }

    @media screen and (max-width: 1155px) {
      flex-direction: column-reverse;
      padding-bottom: 40px;
      text-align: center;

      .studioInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .studioImg {
        margin-bottom: 20px;
      }
    }
  }
}

.audience {
  .email {
    @extend %flex-between;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: #111;
    border-radius: 20px;
    margin-top: 50px;
    padding: 40px 60px;

    .emailContent {
      @extend %flex-between;
      flex-direction: column;
      margin-right: 200px;
      height: 100%;

      .emailDescr {
        color: #fff;
        font-size: 14px;
        font-weight: 400;

        a {
          color: grey;
          text-decoration: underline;
          font-weight: 600;
        }
      }

      .emailTitle {
        color: #fff;
        font-size: 80px;
        font-weight: 600;
        line-height: 70px;
      }
    }

    .emailButton {
      margin: 0 80px;
    }
  }

  @media screen and (max-width: 1200px) {
    .email {
      .emailContent {
        margin-right: 50px;
        .emailTitle {
          font-size: 60px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .email {
      display: block;
      text-align: center;
      .emailContent {
        display: block;
        width: 100%;
        height: 220px;
        margin-right: 0px;
        .emailTitle {
          font-size: 40px;
        }
        .emailDescr {
          margin-top: 65px;
        }
      }
      .emailButton {
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .email {
      border-radius: 0px;
      .emailContent {
        .emailTitle {
          font-size: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .email {
      .emailContent {
        .emailDescr {
          margin-top: 10px;
        }

        .emailTitle {
          font-size: 19px;
        }
      }
    }
  }
}

.audienceItem {
  margin-top: 25px;
  @extend %flex-wrap;
  flex-direction: column;
  width: 380px;
  height: 270px;
  padding: 30px;
  border-radius: 20px;
  p {
    font-weight: bold;
    font-size: 27px;
  }

  span {
    font-size: 14px;
  }

  @media screen and (max-width: 1024px) {
    width: 280px;
  }

  @media screen and (max-width: 768px) {
    min-width: 250px;
    p {
      font-size: 25px;
    }
  }
}

.audienceListItems {
  @extend %flex-wrap;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.brands {
  margin-top: 30px;

  p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .brandList {
    @extend %flex-wrap;
    margin-top: 80px;

    img {
      width: 80px;
      animation: fade-in 10s linear infinite;
    }
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.button {
  button {
    cursor: pointer;
    display: block;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #111;
    font-size: 14px;
  }

  @media screen and (max-width: 1024px) {
    button {
      font-size: 13px;
    }

    .center {
      margin: 0 auto;
    }
  }
}

.header {
  @extend %flex-wrap;
  align-items: center;
  padding: 10px 10px;

  img {
    margin-top: 20px;
    width: 540px;
  }

  @media screen and (max-width: 1200px) {
    .headerInfo {
      margin: 30px auto;
    }

    img {
      margin: 0 auto;
    }
  }
}
