.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
  max-width: 437px;
  height: 300px;
  height: 300px;
  transition: all 0.1s ease-in-out;
  margin-top: 30px;
  @media screen and (max-width: 468px) {
    height: 200px;
  }
  &:hover {
    cursor: pointer;
    filter: opacity(0.9);
  }
  .firstImg {
    width: 300px;
    height: 100%;
    background-color: #000;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    @media screen and (max-width: 468px) {
      width: 200px;
    }
  }
  .secondImg {
    background-color: #000;
  }
  .thirdImg {
    background-color: #000;
  }
}
.title {
  display: inline-block;
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    .wrapper {
      filter: opacity(0.9);
    }
  }
}
.info {
  display: flex;
  margin-top: 5px;
  font-size: 14px;
  color: gray;
  span {
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    color: gray;
    transition: all 0.1s ease-in-out;
    &:hover {
      text-decoration: underline;
      color: #111;
    }
  }
}
