$paragraphLineHeight: 1.5;
.container {
  padding: 20px 10px;
  margin: 20px 0;

  section {
    margin-top: 40px;
    padding: 20px;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: $paragraphLineHeight;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.headerSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  & > div {
    width: 50%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .headerText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 20px;

      @media screen and (min-width: 767px) {
        font-size: 3rem;
      }
    }
  }
  .headerImg {
    margin: auto;
  }
}

.heroTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 540px;
    text-align: center;
  }
  .heroTopText {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    width: 66%;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .usableImagesPreview {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      margin-bottom: 32px;
    }
    h4 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}

.awesome {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  .awesomeText {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .awesomeText {
      width: 100%;
    }
  }
}

.free {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  .freeText {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    .freeText {
      width: 100%;
    }
  }
}

.awesome,
.free {
  & > div {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
      
    }
  }
}
