//todo: remove global styles
* {
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: #717171;
  font-weight: 500;
  font-size: 0.875rem;
}

.assist-nav {
  z-index: 1;
  padding: 0 20px;
  display: flex;
  background-color: #fff;
  width: 100%;

  .main-category {
    margin-top: 20px;
    margin-right: 20px;

    ul {
      li {
        a {
          user-select: none;
          &:hover {
            color: #161616;
          }
        }
      }
    }
  }

  .line {
    display: block;
    border: 1px solid #b7b7b7;
    margin-top: 10px;
    height: 40px;
  }

  .other-categories {
    position: relative;
    overflow: overlay;
    width: 100%;

    ul {
      display: flex;
      margin: 0;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 20px;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: none;
      touch-action: none;
      transition: all 0.2s ease-in-out;
      transition-delay: 0.2s;
      li {
        margin-right: 30px;
        a {
          white-space: nowrap;
          user-select: none;

          &:hover {
            color: #161616;
          }
        }

        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }
      &:hover {
        cursor: grab;
        padding-bottom: 30px;
      }

      &:hover .nav-progress-bar {
        opacity: 1;
      }

      &:active {
        cursor: grabbing;
      }

      .nav-progress-bar {
        position: absolute;
        background-color: #e8e8e8;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-120%);
        width: 50px;
        height: 5px;
        bottom: 2px;
        opacity: 0;
        transition: all 0.3s ease;

        &:hover {
          cursor: grab;
        }

        &:active {
          cursor: grabbing;
        }

        .nav-progress-fill {
          background-color: #acacac;
          border-radius: 10px;
          width: 0%;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .assist-nav {
    .line {
      display: none;
    }

    .other-categories {
      width: 95%;

      ul {
        padding-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .assist-nav {
    padding: 0px 20px 5px 20px;

    .other-categories {
      width: 95%;
    }
  }
}
