//todo: remove global styles
* {
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

%link {
  color: #717171;
  font-weight: 500;
  font-size: 0.875rem;
  user-select: none;
}

%btn {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
}

.assist-nav {
  z-index: 1;
  padding: 0 20px;
  display: flex;
  background-color: #fff;
  width: 100%;

  .main-category {
    margin-top: 15px;
    margin-right: 20px;

    ul {
      list-style-type: none;

      li > a {
        @extend %link;
        &:hover {
          color: #161616;
        }
      }
    }
  }

  .line {
    border: 1px solid #b7b7b7;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
  }

  .other-categories {
    position: relative;
    overflow: overlay;
    width: 100%;

    .btn-left {
      @extend %btn;
      background: linear-gradient(90deg, #fff 70%, transparent);
      left: 0;

      img {
        width: 20px;
        transform: rotate(180deg);
      }
    }

    .btn-right {
      @extend %btn;
      background: linear-gradient(180deg, #fff 70%, transparent);
      right: 0;

      img {
        width: 20px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      margin: 15px 50px 0 50px;
      list-style-type: none;
      scroll-behavior: smooth;

      li {
        margin-right: 30px;
        margin-bottom: 1px;
        a {
          white-space: nowrap;
          @extend %link;

          &:hover {
            color: #161616;
          }
        }

        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          margin-right: 10px;
        }
      }
    }
  }
}
