*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* outline: 1px red solid; */
  margin: 0;
  padding: 0;
  font: inherit;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
:root {
  --primary-text-color: #2d2d2d;
  --primary-text-color-darker: #141414;
  --primary-white-color: #ededed;
}
