*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  height: 100%;
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
:root {
  --primary-text-color: #2d2d2d;
  --primary-text-color-darker: #141414;
  --primary-white-color: #ededed;
}
