%link {
  color: #717171;
  font-weight: 500;
  font-size: 0.875rem;
  user-select: none;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-bottom: 15px;
  margin-top: 10px;
}

%btn {
  z-index: 1;
  position: absolute;
  width: 25px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  background: #fff;
  box-shadow: 0px 0 10px 10px #fff;
}

.assist-nav {
  z-index: 1;
  overflow-y: hidden;
  padding: 0 20px;
  display: flex;
  background-color: #fff;
  width: 100%;

  .main-category {
    margin-top: 15px;
    margin-right: 20px;

    ul {
      list-style-type: none;

      li > a {
        @extend %link;

        &:hover {
          color: #161616;
        }
      }
    }
  }

  .line {
    border: 1px solid #b7b7b7;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
  }

  .other-categories {
    position: relative;
    overflow: overlay;
    width: 100%;

    .btn-left {
      @extend %btn;
      left: 10px;

      img {
        width: 20px;
        transform: rotate(180deg);
      }
    }

    .btn-right {
      @extend %btn;
      right: 0;

      img {
        width: 20px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      margin: 0 30px 0 40px;
      list-style-type: none;
      scroll-behavior: smooth;
      min-height: 100%;

      @media screen and (max-width: 480px) {
        overflow-x: scroll;

        -webkit-overflow-scrolling: touch;
        white-space: nowrap;

        ::-webkit-scrollbar {
          display: none;
        }
      }

      li {
        margin-right: 30px;
        margin-bottom: 1px;

        a {
          white-space: nowrap;
          @extend %link;

          &:hover {
            color: #161616;
          }
        }

        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          margin-right: 20px;
        }
      }
    }
  }
}
