*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* outline: 1px red solid; */
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
