.ProgressBar {
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
}
.ProgressBar-inner {
  height: 3px;
  background-color: rgb(106, 156, 237);
  width: 0%;
}
