.listItem {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media screen and (max-width: 2560px) {
    justify-content: center;
    gap: 15px;
  }
}

.wrapper {
  width: 100%;
  padding: 10px;
  flex-basis: 100%;

  @media (min-width: 768px) {
    flex-basis: 45%;
    padding: 0;
  }

  @media (min-width: 1124px) {
    flex-basis: 32%;
    padding: 0;
  }
  @media (min-width: 2560px) {
    flex-basis: 25%;
    padding: 0;
  }
}

.preview {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  -moz-column-gap: 2px;
  column-gap: 2px;
  margin-bottom: 15px;

  .leftBlock {
    height: 100%;
    flex: 4;

    & img {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;

      @media screen and (max-width: 568px) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .rightBlock {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 568px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 50%;
      -o-object-fit: cover;
      object-fit: cover;

      &:first-child {
        border-bottom: 2px solid rgb(255, 255, 255);
        border-top-right-radius: 5px;
      }
      &:nth-child(2) {
        border-bottom-right-radius: 5px;
      }
    }
  }
}
.title {
  padding: 36px 48px;
  font-size: 2.5rem;

  @media screen and (max-width: 992px) {
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
    padding: 36px 10px;
  }
  @media screen and (max-width: 425px) {
    font-size: 1.5rem;
    padding: 24px 10px;
  }
}

.link {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: black;
  }
}

.info {
  display: flex;
  margin-top: 5px;
  font-size: 14px;
  color: gray;
  span {
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    color: gray;
    transition: all 0.1s ease-in-out;
    &:hover {
      text-decoration: underline;
      color: #111;
    }
  }
}
