.suggestions {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1;
  border: 1px solid #e1e1e1;
  margin-top: 10px;
  
  .list {
    list-style: none;
    margin: 15px 20px 15px 10px;
    cursor: pointer;
  }
}
