.wrapper {
  h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  fieldset {
    border: none;
    .form {
      input {
        width: 100%;
        margin-top: 7px;
        padding: 10px 12px;
        border: 1px solid rgb(116, 116, 116);
        border-radius: 3px;
        transition: all 0.1s ease-in-out;
        &:focus {
          outline: none;
          border: 1px solid rgb(36, 36, 36);
        }
      }
    }
  }
  button {
    margin-top: 25px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
  }
}
