.profile {
  padding-bottom: 10px;
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
      display: block;
      .image {
        margin-bottom: 20px;
      }
    }
    .image {
      padding: 15px;
      border-radius: 100%;
      border: 6px solid rgb(175, 175, 175);
      background-color: #fafafa;
      margin-right: 50px;
      min-width: 140px;
      min-height: 140px;
    }
    .infoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      min-height: 120px;
      .info {
        position: relative;
        display: flex;
        align-items: center;
        .username {
          font-size: 2.5rem;
          font-weight: 700;
          margin-right: 20px;
          margin-bottom: 20px;
          @media screen and (max-width: 768px) {
            font-size: 1.6rem;
          }
        }
        .editBtn {
          all: unset;
          display: flex;
          align-items: center;
          padding: 3px 10px;
          margin-bottom: 20px;
          cursor: pointer;
          border: 1px solid rgb(180, 180, 180);
          border-radius: 5px;
          font-size: 0.9rem;
          color: gray;
          transition: all 0.1s ease-in-out;
          @media screen and (max-width: 768px) {
            position: absolute;
            right: 0;
            top: -150px;
          }
          &:hover {
            border: 1px solid rgb(88, 88, 88);
            color: rgb(43, 43, 43);
          }
          span {
            margin-right: 5px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .navigation {
    display: flex;
    margin-top: 70px;
    padding: 0 10px;

    svg {
      width: 17px;
      height: 17px;
      margin-right: 5px;
      @media screen and (max-width: 420px) {
        display: none;
      }
    }
    a {
      display: flex;
      text-decoration: none;
      margin-right: 25px;
      padding-bottom: 15px;
    }
  }
  hr {
    border-color: #fdfdfd;
    margin-bottom: 50px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 15px;
      color: gray;
      font-size: 0.9rem;
    }
  }
}
