.wrapper {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--url);
  }
  .plus {
    visibility: hidden;
    position: absolute;
    right: 20px;
  }
  &:hover .plus {
    visibility: visible;
  }
  p {
    margin-bottom: 5px;
    color: #d9d9d9;
  }
  h4 {
    font-weight: 700;
  }
}
