.newCollectionButton {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  color: gray;
  border: 1px dashed #a5a5a5;
  border-radius: 5px;
  font-size: 1rem;
}

.menuItem {
  width: 100%;
  margin-bottom: 10px;
  height: 100%;
  position: relative;
  overflow-x: hidden;

  & img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }
}

.createCollection {
  width: 100%;
  position: absolute;
  padding: 20px 20px;
  top: 15%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  color: rgb(233, 232, 232);

  &:hover .plus {
    opacity: 1;
  }

  .text {
    max-width: 80%;
    & > h4 {
      font-size: 1.2rem;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .plus {
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 40px;
    transition: opacity 0.14s;
  }
}

fieldset {
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  padding: 0 15px 20px 15px;
  .textarea {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    textarea {
      resize: none;
      margin-top: 7px;
      border-radius: 3px;
      padding: 15px;
      &:focus {
        outline: none;
        border: 1px solid #111;
      }
    }
    .descrValue {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 0.8rem;
      color: gray;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    button {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .cancel {
      color: gray;
      background: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .create {
      color: #f1f1f1;
      background-color: #111;
    }
  }
}
.collectionItems {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--url);
  }

  p {
    margin-bottom: 5px;
    color: #d9d9d9;
  }

  h4 {
    font-weight: 700;
  }
}
